<div class='dashfolio-pictures main-content'> 
  <div class='pictures-content'>
    <div class='tabcontent' id='pictures-dashfolio' >
      <div class='dashfolio-add-media'>
        <a class='btn btn-block btn-social btn-instagram'>
          <span class='fa fa-instagram'> </span>
          Add photos
        </a>
      </div>
      <ul class='pictures-list'>
        <% artist.instagram_network.images.each do |image| %>
          <li class='pictures-list-items dashfolio-content-li'>
            <div class='picture-body'>
              <p class='picture-account-name'>
                <strong><%= image[:user_full_name] %></strong>
              </p>
              <div class='picture-image'>
                <a href='<%= image[:link] %>' class='picture-link' target='_blank'> 
                  <%= image_tag(image[:url], class: 'instagram-picture picture-image') %>
                </a>
                <a href='https://www.instagram.com/<%= image[:username] %>' target='_blank'>
                  <%= image_tag('instagram_logo.png', class: 'picture-logo pull-right') %>
                </a>
              </div>
            </div>
          </li>
        <% end if artist.instagram_network.present? %>
      </ul>
    </div>
  </div>
</div>
