<div class='container top-container'>
  <div class='row'>
    <div class='col-sm-1'> </div>
    <div class='col-sm-10'>
      <div class='col-md-2 hidden-sm hidden-xs'>
        <div class='bar bar-first'> </div>
        <div class='bar bar-second'> </div>
        <div class='bar bar-third'> </div>
      </div>
      <div class='col-md-4 dashfolio-profile-pic-connect-container'>
        <%= image_tag(artist.image.thumb.url || 'generic_avatar.png', class: 'profile-pic-dashfolio') %>
        <div class='message-connect-buttons'>
          <% if current_user.present? && current_user.is_connected_to?(artist) %>
            <%= form_tag new_message_path(), method: :post, style: 'display: inline-block;' do %>
              <%= hidden_field_tag :receiver, artist.username %>
              <button class='message-dashfolio'>
              <i class='fa fa-envelope' aria-hidden='true'></i>
            </button>
            <% end %>
          <% elsif current_user.present? && current_user == artist %>
          <% else %>
            <button class='message-dashfolio disabled' style='opacity: 0.3;' data-toggle='tooltip' data-placement='bottom' title='<%= unable_send_message_tooltip(current_user, artist) %>'>
              <i class='fa fa-envelope' aria-hidden='true'></i>
            </button>
          <% end %>
          <% if can_connect_with?(current_user, artist) %>
            <%= form_tag invite_artist_path(), method: :post, style: 'display: inline-block;' do %>
              <%= hidden_field_tag :invitee, artist.username %>
              <%= hidden_field_tag :invitee_act_name, artist.act_name %>
              <button class='connect-dashfolio' type="submit">
                <i class='fa fa-user-plus' aria-hidden='true'></i> connect
              </button>
            <% end %>
          <% elsif current_user.present? && current_user.is_connected_to?(artist) %>
            <%= link_to disconnect_invitations_path(with_artist: artist.username), method: :delete do %>
              <button class='connect-dashfolio'>
                <i class='fa fa-user-plus' aria-hidden='true'></i> Disconnect
              </button>
            <% end %>
          <% else %>
            <button class='connect-dashfolio disabled' style='opacity: 0.3;' data-toggle='tooltip' data-placement='right' title='<%= unable_connect_tooltip(current_user, artist) %>'>
              <i class='fa fa-user-plus' aria-hidden='true'></i> Connect
            </button>
          <% end %>
        </div>
      </div>
      <div class='col-md-4 dashfolio-profile-name-container'>
        <% if artist == current_user %>
          <h2><%= best_in_place artist, :act_name, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add Act Name' %></h2>
          <p class='dashfolio-tagline'><%= best_in_place artist, :tag_line, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add Tag Line' %></p>
        <% else %>
          <h2><%= artist.act_name %></h2>
          <p class='dashfolio-tagline'><%= artist.tag_line %></p>
        <% end %>
        <div class='tag-container' id='tag-container'>
          <%= render partial: 'tags/index', locals: { artist: artist } %>
        </div>

        <% if artist == current_user %>
          <div class='location-container'>
            <i class='fa fa-map-marker' aria-hidden='true'></i>
            <span class='dashfolio-location'>
              <%= best_in_place artist, :location, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add Location' %>
            </span>
          </div>
        <% elsif artist.location.present? %>
          <div class='location-container'>
            <i class='fa fa-map-marker' aria-hidden='true'></i>
            <span class='dashfolio-location'>
              <%= artist.location %>
            </span>
          </div>
        <% end %>

        <span class='connection-number-dashfolio'><strong><%= pluralize(artist.connections.count, 'connection') %></strong> </span>
        <div class='connection-container'>
          <% artist.connections.sample(4).each do |friend| %>
            <div class='dashfolio-connection'>
              <%= link_to artist_dashfolio_path(friend.username) do %>
                <%= image_tag(friend.image.thumb.url || 'generic_avatar.png', class: 'connection-profile-pic', title: friend.act_name) %>
              <% end %>
            </div>
          <% end %>
          <div>
            <a class='all-connection-anchor' href='javascrip:void(0)'> See all connections </a>
          </div>
        </div>
      </div>
      <div class='col-md-2 hidden-sm hidden-xs right-bars'>
        <div class='bar bar-fourth'> </div>
        <div class='bar bar-fifth'> </div>
        <div class='bar bar-sixth'> </div>
      </div>
    </div>
    <div class='col-sm-1'> </div>
  </div>
</div>
