<div class='container top-container'>
  <div class='row'>
    <div class='col-sm-2'> </div>
    <div class='col-sm-8'>
      <div class='col-md-2 hidden-sm hidden-xs'>
        <div class='bar bar-first'> </div>
        <div class='bar bar-second'> </div>
        <div class='bar bar-third'> </div>
      </div>
      <div class='col-md-4 dashfolio-profile-pic-connect-container'>
        <%= image_tag(artist.image.thumb.url || 'generic_avatar.png', class: 'profile-pic-dashfolio') %>
        <div class='message-connect-buttons'>
          <% if current_user.present? && current_user.is_connected_to?(artist) %>
          <%= link_to new_message_path(username: artist.username), style: 'display: inline-block;' do %>
          <button class='message-dashfolio'>
            <i class='fa fa-envelope' aria-hidden='true'></i>
          </button>
          <% end %>
          <% elsif current_user.present? && current_user == artist %>
          <% else %>
          <button class='message-dashfolio disabled' style='opacity: 0.3;' data-toggle='tooltip' data-placement='bottom' title='<%= unable_send_message_tooltip(current_user, artist) %>'>
            <i class='fa fa-envelope' aria-hidden='true'></i>
          </button>
          <% end %>
          <% if can_connect_with?(current_user, artist) %>
            <%= link_to invite_artist_path(username: artist.username), style: 'display: inline-block;' do %>
              <button class='connect-dashfolio' type="submit">
                <i class='fa fa-user-plus' aria-hidden='true'></i> connect
              </button>
            <% end %>
          <% elsif current_user.present? && current_user.is_connected_to?(artist) %>
            <%= link_to disconnect_invitations_path(with_artist: artist.username), method: :delete, data: {confirm: "Are you sure want to disconnect with #{artist.act_name} ?"} do %>
              <button class='connect-dashfolio'>
                <i class='fa fa-user-plus' aria-hidden='true'></i> Disconnect
              </button>
            <% end %>
          <% elsif artist != current_user %>
            <button class='connect-dashfolio disabled' style='opacity: 0.3;' data-toggle='tooltip' data-placement='right' title='<%= unable_connect_tooltip(current_user, artist) %>'>
              <i class='fa fa-user-plus' aria-hidden='true'></i> Connect
            </button>
          <% end %>
        </div>
      </div>
      <div class='col-md-4 dashfolio-profile-name-container'>
        <% if artist == current_user %>
        <h2> <span class = "in-line-edit"><%= best_in_place artist, :act_name, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add Act Name' %></span></h2>
        <p class='dashfolio-tagline'><span class = "in-line-edit"><%= best_in_place artist, :tag_line, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add Tag Line' %></span></p>
        <% else %>
        <h2><%= artist.act_name %></h2>
        <p class='dashfolio-tagline'><%= artist.tag_line %></p>
        <% end %>
        <div id='tag-container'>
          <%= render partial: 'tags/index', locals: { artist: artist } %>
        </div>

        <% if artist == current_user %>
        <div class='location-container'>
          <i class='fa fa-map-marker' aria-hidden='true'></i>
          <span class='dashfolio-location in-line-edit'>
            <%= best_in_place artist, :location, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add Location' %>
          </span>
        </div>
        <% elsif artist.location.present? %>
        <div class='location-container'>
          <i class='fa fa-map-marker' aria-hidden='true'></i>
          <span class='dashfolio-location'>
            <%= artist.location %>
          </span>
        </div>
        <% end %>

        <span class='connection-number-dashfolio'><strong><%= pluralize(artist.connections.count, 'connection') %></strong> </span>
        <div class='connection-container'>
          <% artist.connections.sample(4).each do |friend| %>
          <div class='dashfolio-connection'>
            <%= link_to artist_dashfolio_path(friend.username) do %>
            <%= image_tag(friend.image.thumb.url || 'generic_avatar.png', class: 'connection-profile-pic', title: friend.act_name) %>
            <% end %>
          </div>
          <% end %>
          <div>
            <%= link_to 'See all connections', artist_connections_path(username: artist.username), class: 'all-connection-anchor' %>
          </div>
        </div>
      </div>
      <div class='col-md-2 hidden-sm hidden-xs right-bars'>
        <div class='bar bar-fourth'> </div>
        <div class='bar bar-fifth'> </div>
        <div class='bar bar-sixth'> </div>
      </div>
    </div>
    <div class='col-sm-2'> </div>
  </div>
</div>
