<div class='dashfolio-video main-content'>
  <div class='video-content media-content'>
    <div class='tabcontent' id='videos-dashfolio'>
      <div class='dashfolio-add-media dashfolio-video-add-button'>
        <% if artist == current_user %>
          <% if artist.youtube_network.present? %>
            <a class='btn btn-block btn-social btn-youtube' data-toggle='modal'
              data-target='#filterContentModal' data-url='<%= fetch_content_artists_path %>'
              data-content='youtube_videos', data-container='dashfolio-video'>
              <span class='fa fa-youtube-play'> </span>
              Add videos
            </a>
          <% else %>
            <%= link_to connect_youtube_text, connect_youtube_link,
                    class: 'btn btn-block btn-social btn-youtube' %>
          <% end %>
          <% if artist.facebook_network.present? %>
            <a class='btn btn-block btn-social btn-facebook' data-toggle='modal'
              data-target='#filterContentModal' data-url='<%= fetch_content_artists_path %>'
              data-content='facebook_videos', data-container='dashfolio-video'>
              <span class='fa fa-facebook'> </span>
              Add videos
            </a>
          <% else %>
            <%= link_to connect_facebook_text, connect_facebook_link,
                    class: 'btn btn-block btn-social btn-facebook' %>
          <% end %>
        <% end %>
      </div>
      <ul class='video-list'>
        <% artist.youtube_network.videos.each do |video| %>
          <li class='video-list-items dashfolio-content-li'>
            <iframe width='310' height='174' src='<%= video['url'] %>' frameborder='0' allowfullscreen></iframe>
          </li>
        <% end if artist.youtube_network.present? %>

        <% artist.facebook_network.videos.each do |video| %>
          <li class='video-list-items dashfolio-content-li'>
            <iframe width='310' height='174' src='<%= video['url'] %>' frameborder='0' allowfullscreen></iframe>
          </li>
        <% end if artist.facebook_network.present? %>
      </ul>
    </div>
  </div>
</div>
