<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='main-search-results'> 
        <div class='search-header'>
          <h1> <%= @artist.act_name %>'s connections (<%= @connections.count %>)</h1>
        </div>
        <hr>
        <div class='search-main-container'>
          <div class='search-name-container'>
            <% @connections.each do |artist| %>
              <%= link_to artist_dashfolio_path(username: artist.username), target: '_blank' do %>
                <div class='search-name-individual col-xs-8'>
                  <div class='search-profile-name-tag-container'>
                    <div class='search-profile-pic-container'>
                      <%= image_tag(artist.image.thumb.url || 'generic_avatar.png', class: 'search-profile-pic') %> 
                    </div>
                    <div class='search-tagline-container'>
                      <div class='search-profile-name'>
                        <p class='search-artist-name'> <strong><%= artist.act_name %></strong> </p>
                      </div>
                      <div class='search-tagline'>
                        <p class='search-artist-tagline'><%= artist.tag_line %></p>
                      </div>
                      <div class='search-tags-list'>
                        <% artist.tags.each do |tag| %>
                          <span class='dashfolio-tag'><%= tag.name %></span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div class='paginator'>
              <%= will_paginate @connections %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
