<div class='search-navigation-bar'> 

  <div class='search-navigation search-navigation-active' id='search-navigation-user' data-container='search-name-container'>
    <p class='search-navigation-p search-navigation-p-active'> By name <span class='search-number search-number-active'> <%= @name_search.count %></span> </p>
  </div>
  <hr class = "search-navigation-hr">

  <div class='search-navigation' id='search-navigation-tag' data-container='search-tag-container'>
    <p class='search-navigation-p'> By tag  <span class='search-number search-number-inactive'> <%= @tag_search.count %></span></p>
  </div>
  <hr class = "search-navigation-hr">

  <div class='search-navigation' id='search-navigation-location' data-container='search-location-container'>
    <p class='search-navigation-p'> By Location  <span class='search-number search-number-inactive'> <%= @location_search.count %></span></p>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='main-search-results'> 
        <div class='search-header'>
          <h1> Search Juketape</h1>
        </div>
        <hr>
        <div class='search-main-container'>
          <div class='search-name-container'>
            <%= render partial: 'search_artists_list', locals: {artists: @name_search, search_by: 'name'} %>
          </div>

          <div class='search-tag-container'>
            <%= render partial: 'search_artists_list', locals: {artists: @tag_search, search_by: 'tag'} %>
          </div>

          <div class='search-location-container'>
            <%= render partial: 'search_artists_list', locals: {artists: @location_search, search_by: 'location'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
