<ul class="inbox-preview-items">
  <% current_user.message_threads.each do |thread| %>
    <% artist = thread.sender == current_user ? thread.receiver : thread.sender %>
    <li class='message_thread_<%= thread.slug %>'>
      <%= link_to message_show_path(slug: thread.slug) do %>
        <div class="inbox-preview-profile-pic-container">
          <%= image_tag(artist.image.thumb.url || 'generic_avatar.png', class: 'inbox-preview-profile-pic') %>
        </div>
        <div class="inbox-preview-name-container">
          <p class="inbox-preview-name"> <strong><%= artist.act_name %></strong> </p>
          <p class="inbox-preview-subject"><%= truncate(thread.subject, length: 35) %></p>
          <p class="inbox-preview-date"><%= local_time(thread.last_message.sent_at) %></p>
        </div>
      <% end %>
      <div class="inbox-peview-divider">
        <hr>
      </div>
    </li>
  <% end %>
</ul>
