<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <h1 class='notif-title'> Notifications </h1>
      <hr>
      <h3 class='notif-connection-title'> Connection Requests </h3>
      <% if @pending_invitations.count > 0 %>
        <% @pending_invitations.each do |invitation| %>
          <% initiator = invitation.initiator %>
        <div class='search-name-individual col-xs-12 col-sm-12'>
          <div class = "container">
            <div class = "row">
              <div class = "notification-message col-xs-12">
                <h4> <span class = "notification-invite-name-message"> <%= invitation.initiator.act_name %> </span> says "<%= invitation.welcome_message %>"</h4>
              </div>
            </div>
            <hr class = "notification-message-invite-divider"> 
          </div>

          <div class='notification-profile-name-tag-container col-xs-9'>        
            <div class='search-profile-pic-container col-xs-3 col-sm-3 col-md-2'>
              <%= image_tag(initiator.image.thumb.url || 'generic_avatar.png', class: 'notif-profile-pic') %>
            </div>
            <div class='search-tagline-container col-xs-12 col-sm-9'>
              <div class='search-profile-name'>
                <p class='search-artist-name'> <strong><%= initiator.act_name %></strong> </p>
              </div>
              <div class='search-tagline'>
                <p class='search-artist-tagline'><%= initiator.tag_line %></p>
              </div>
              <div class='search-tag-list' id='tag-container'>
                <% initiator.tags.each do |tag| %>
                  <span class='dashfolio-tag'>
                    <%= tag.name %>
                  </span>
                <% end %>
              </div>
            </div> <!--end of search-tag-container -->  
         

          </div> 


            <div class='notification-main-action-buttons col-xs-3'>
              <%= link_to reject_invitation_path(invitation), method: :put do %>
                <button type='button' class='btn btn-sm btn-danger'> <i class='fa fa-times' aria-hidden='true'></i>
                </i> </button>
              <% end %>
              <%= link_to accept_invitation_path(invitation), method: :put do %>
                <button type='button' class='btn btn-sm btn-success'> <i class='fa fa-check' aria-hidden='true'></i>
                <span class = "hidden-xs"> Accept</span> </button>
              <% end %>
            </div>

            

        </div><!--end of search-name-individual -->
        <% end %>
      <% else %>
        <h5>You don't have any pending connection requests</h5>
      <% end %>
    </div>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87593959-1', 'auto');


ga('set', 'page', '/notifications.html');
ga('send', 'pageview');

</script>