<ul class='navbar navbar-right navbar-icons' style='list-style-type: none;'>
  <li class='nav-notification-container'>
    <% if current_user.message_notif_count > 0 %>
      <div class='nav-counter nav-notif-counter'>
        <%= current_user.message_notif_count %>
      </div>
    <% end %>
    <%= link_to artist_inbox_path do %>
      <i class='fa fa-envelope fa-2x navbar-icon-fa' aria-hidden='true'></i>
      </i>
    <% end %>
  </li>
  <li class='nav-notification-container'>
    <% if current_user.connection_notif_count > 0 %>
      <div class='nav-counter nav-notif-counter'>
        <%= current_user.connection_notif_count %>
      </div>
    <% end %>
    <%= link_to notifications_path do %>
      <i class='fa fa-exclamation fa-2x navbar-icon-fa' aria-hidden='true'></i>
      </i>
    <% end %>
  </li>

  <li class='dropdown'>
    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
      <%= image_tag(current_user.image.thumb.url || 'generic_avatar.png', class: 'profile-image-header') %>
    </a>

    <ul class='dropdown-menu'>
      <li>
        <%= link_to artist_dashfolio_path(username: current_user.username) do %>
          <i class='fa fa-user'></i> Dashfolio
        <% end %>
      </li>
      <li class='divider'></li>
      <li>
        <%= link_to settings_path do %>
          <i class='fa fa-cog'></i> Settings
        <% end %>
      </li>
      <li class='divider'></li>
      <li>
        <%= link_to "<i class='fa fa fa-commenting'></i> Feedback".html_safe, feedback_path() %>
      </li>
      <li class='divider'></li>
      <li>
        <%= link_to "<i class='fa fa-sign-out'></i> Sign-out".html_safe, sign_out_path, method: :delete %>
      </li>
    </ul>
  </li>
</ul>
