	<!-- the JS SDK for facebook embeds -->
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=981372658618612";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- the JS SDK for facebook embeds -->

	<%= render partial: 'static/header_logged_in' %>


	<div class = "container">
		<div class = "row">

			<div class = "col-sm-1"> </div>

			<div class = "col-sm-10"> 	

				<div class = "col-md-2 hidden-sm hidden-xs">

					<div class = "bar bar-red"> </div>
					<div class = "bar bar-yellow"> </div>
					<div class = "bar bar-green"> </div>

				</div>

				<div class = "col-md-4 dashfolio-profile-pic-connect-container">					

					<%= image_tag("generic_avatar.png", class: "profile-pic-dashfolio") %>					

					<div class= "message-connect-buttons">

						<button class = "message-dashfolio"> <i class="fa fa-envelope" aria-hidden="true"></i>  </button>

						<button class = "connect-dashfolio"> <i class="fa fa-user-plus" aria-hidden="true"></i> Connect </button>

					</div>

				</div>

				<div class = "col-md-4 dashfolio-profile-name-container" >

					<h2> Artist Name </h2>
					<p class="dashfolio-tagline"> Singer songwriter for Agam </p>

					<div class= "tag-container">
						<div class= "dashfolio-tag">  Tag1 </div>
						<div class= "dashfolio-tag">  Tag1 </div>
						<div class= "dashfolio-tag">  Tag1 </div>
					</div>

					<div class = "location-container">	
						<p> <i class="fa fa-map-marker" aria-hidden="true"></i> <span class= "dashfolio-location">  Boston </span> </p>
					</div>

					<span class = "connection-number-dashfolio"> <strong> 500 connections</strong> </span>

					<div class = "connection-container" >						

						<div class = "dashfolio-connection">
							<%= image_tag("generic_avatar.png", class: "connection-profile-pic") %> 
						</div>

						<div class = "dashfolio-connection">
							<%= image_tag("generic_avatar.png", class: "connection-profile-pic") %> 
						</div>

						<div class = "dashfolio-connection">
							<%= image_tag("generic_avatar.png", class: "connection-profile-pic") %> 
						</div>

						<div class = "dashfolio-connection">
							<%= image_tag("generic_avatar.png", class: "connection-profile-pic") %> 
						</div>


						<!-- max number of connections should be 4 -->
						<div>
							<a class = "all-connection-anchor" href = "#"> See all connections </a>
						</div>
					</div>				


				</div>


				<div class = "col-md-2 hidden-sm hidden-xs right-bars">

					<div class = "bar bar-red"> </div>
					<div class = "bar bar-yellow"> </div>
					<div class = "bar bar-green"> </div>

				</div>



			</div>

			<div class = "col-sm-1"> </div>

		</div>

	</div>

	<div class = "container" >
		<div class = "row" >

			<div class = "col-md-1"> </div>

			<div class = "col-md-10 dashfolio-content-dashbar" >

				<ul class = "dashfolio-midbar-icons" style="list-style-type: none;">

					<li class = "dashfolio-midbar-about midbar-icon">
						<a href="#about-header"> <!--links to the bio and timeline section headers -->
							About                 
						</a>
					</li>	

					<li class = "dashfolio-midbar-pictures pull-right midbar-icon">
						<a href="#">
							<i class="fa fa-photo fa-2x navbar-icon-fa" aria-hidden="true"></i>
							<!--<span class="label">23</span> -->
						</i>                 
					</a>
				</li>	

				<li class = "dashfolio-midbar-videos pull-right midbar-icon"> <!--the pull-right pulls the div to the right, the first div with this class goes the farthest right, then the rest. Hence the videos icon has this first and not the music ne below -->
					<a href="#videos-dashfolio">
						<i class="fa fa-video-camera fa-2x navbar-icon-fa" aria-hidden="true"></i>
						<!--<span class="label">23</span> -->
					</i>                 
				</a>
			</li>	



			<li class = "dashfolio-midbar-music pull-right midbar-icon">
				<a href="#music-header">
					<i class="fa fa-music fa-2x navbar-icon-fa" aria-hidden="true"></i>
					<!--<span class="label">23</span> -->
				</i>                 
			</a>
		</li>	



	</ul>

</div>

</div>


<div class = "col-md-1"> </div>

</div>
</div>

<div class = "container" >
	<div class = "row" >

		<div class="col-md-1"> </div>

		<div class = "col-md-10"> 
			<div class = "dashfolio-about main-content"> 

				<div class= "about-header-container header-info" id = "about-header"> <!--header info houses the sub options under each midbar icon -->
					<a class = "bio-header tablink" href= "#bio-dashfolio"> Bio </a> 
					<a class = "timeline-header tablink" href= "#timeline-dashfolio"> Timeline </a> 
				</div>



				<div class = "about-content">

					<div class = "tabcontent" id= "bio-dashfolio" >

						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam non dolor sodales suscipit in in metus. Proin laoreet eros nibh, ut hendrerit diam pharetra at. Morbi id nisi efficitur, vehicula turpis non, tristique sapien. Sed sed vestibulum massa. Vestibulum fringilla tortor id facilisis tempus. Cras consectetur sapien nibhLorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam non dolor sodales suscipit in in metus. Proin laoreet eros nibh, ut hendrerit diam pharetra at. Morbi id nisi efficitur, vehicula turpis non, tristique sapien. Sed sed vestibulum massa. Vestibulum fringilla tortor id facilisis tempus. Cras consectetur sapien nibhLorem ipsum dolor sit</p>

					</div>

					<div class = "tabcontent" id = "timeline-dashfolio">

						<p> Random text is awesome don't you think bro </p>

					</div>

				</div>
			</div>

			<div class = "dashfolio-music main-content"> 

				<div class= "music-header-container header-info" id = "music-header">
					<a class = "tracks-header tablink" href= "#tracks-dashfolio"> Tracks </a> 
					<a class = "album-header tablink" href= "#album-dashfolio"> Albums </a> 
				</div>

				<div class = "music-content">

					<div class = "tabcontent" id= "tracks-dashfolio" >

						<ul class= "music-tracks-list">
							<li class = "music-track-list-items dashfolio-content-li">

								<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=0066cc"> </iframe>

							</li>

							<li class = "music-track-list-items dashfolio-content-li">		

								<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/56667759&amp;color=0066cc"> </iframe>

							</li>

							<li class = "music-track-list-items dashfolio-content-li">		

								<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/56667759&amp;color=0066cc"> </iframe>

							</li>

							<li class = "music-track-list-items dashfolio-content-li">		

								<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/56667759&amp;color=0066cc"> </iframe>

							</li>

					</ul>

				</div>

				
			

				<div class = "tabcontent" id= "album-dashfolio" >

					<ul class= "music-albums-list">
							<li class = "music-albums-list-items dashfolio-content-li">
								<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/62171181&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							</li>

							<li class = "music-albums-list-items dashfolio-content-li">
								<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/62171181&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
							</li>
						</ul>

				</div>

			</div> 

		</div>


		<div class = "dashfolio-video main-content"> 

				<div class = "video-content">

					<div class = "tabcontent" id= "videos-dashfolio" >

						<ul class= "video-list">
							<li class = "video-list-items dashfolio-content-li">

								<iframe width="400" height="225" src="https://www.youtube.com/embed/3fa4HUiFJ6c?rel=0" frameborder="0" allowfullscreen> </iframe>					

							</li>

							<li class = "video-list-items dashfolio-content-li">

								<iframe width="400" height="225" src="https://www.youtube.com/embed/3fa4HUiFJ6c?rel=0" frameborder="0" allowfullscreen> </iframe>					

							</li>

							<li class = "video-list-items dashfolio-content-li">

								<iframe width="400" height="225" src="https://www.youtube.com/embed/3fa4HUiFJ6c?rel=0" frameborder="0" allowfullscreen> </iframe>					

							</li>

							<li class = "video-list-items dashfolio-content-li">

								<div class="fb-video" data-href="https://www.facebook.com/BvideosF/videos/1763873920558540/" data-width="400" data-show-text="false"><blockquote cite="https://www.facebook.com/BvideosF/videos/1763873920558540/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BvideosF/videos/1763873920558540/"></a> <a href="https://www.facebook.com/BvideosF/">Best Videos Funny</a> on Saturday, September 10, 2016 </blockquote></div>

								
							</li>
							
					</ul>

				</div>

			</div>

		</div> <!-- end of dashfolio-video -->




		<div class = "col-md-1"> </div>

	</div>

</div>

