<%= render partial: 'shared/header' %>

<div class = "inbox-preview">
    <ul  class = "inbox-preview-items">
        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p>
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p>
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p>
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

    </ul>
</div>


<div class = "container">
    <div class = "row">
        <div class = "col-xs-12" >

            <div class = "message-full-preview">

             <h1 class = "inbox-title"> Inbox </h1>

             <div class = "inbox-sender-info-container">

                <div class = "inbox-main-profile-pic-container">
                    <%= image_tag("generic_avatar.png", class: "inbox-main-profile-pic") %>  
                </div>

                <div class = "inbox-main-name-tagline-container">
                   <div class = "inbox-main-profile-name">
                    <p class = "inbox-main-artist-name"> <strong> Artist Name </strong> <p>
                    </div>

                    <div class = "inbox-main-profile-tagline">
                        <p class = "inbox-main-artist-tagline"> Tagline Tagline </p>
                    </div>
                </div>

            </div>

            <div class = "inbox-main-message-container">
                <div class = "inbox-main-message-subject">
                    <p> Hey there, wanted to check in! (Subject) </p>
                </div>

                <div>
                    <hr>
                </div>

                <div class = "inbox-main-message-body">

                    <div class = "inbox-main-message-exchange pull-left" id = "inbox-main-message-them">
                        <p> In May 2014, GIPHY raised $2.4 million in a Series A funding round from investors, including Quire, CAA Ventures, RRE Ventures, Lerer Hippeau Ventures, and Betaworks.[9][10]

                            In January 2015, GIPHY received another $17 million in a Series B funding round led by Lightspeed Venture Partners, with participation from General Catalyst and former investors.[10] In addition, GIPHY raised a large portion of the Series B round via Alphaworks’s equity crowdfunding platform.[11]

                            In March 2015 GIPHY acquired Nutmeg, a GIF messaging service, as one of the company’s first major steps towards the mobile industry.[12] This coincided with the launch of Facebook Messenger’s own development platform, in which GIPHY joined a few exclusive apps in its debut.[12]

                            In August 2015, GIPHY launched its second mobile app, GIPHY Cam, which allows users to create and share gifs on a social network.[13]

                            In February 2016 GIPHY raised $55 million in funding at a $300 million valua</p>

                        </div>

                        <div class = "inbox-main-message-exchange pull-right" id = "inbox-main-message-you">
                            <p> Click on the boxes at the left side or the link icon to go directly to the url of the hex color.

                                Visit the Color Chart to see a list of color names.</p>

                            </div>

                        </div>

                        <div class = "inbox-main-reply-body form-group">


                            <textarea class="form-control" rows="5" id="comment" placeholder = "Reply"></textarea>

                            <div class = "inbox-main-action-buttons pull-right">

                                    <button type="button" class="btn btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i>
                                    Delete </button>
                                    
                                <button type="button" class="btn btn-success"> <i class="fa fa-reply" aria-hidden="true"></i>
                                   Reply </button>

                                </div>

                            </div>


                        </div>             



                    </div>
                </div>

            </div>
        </div> 
        <div id="page">

            <div id="header">

            </div>
            <div id="content">
                <div id="abcd">

                </div>

            </div>

        </div>