<%= render partial: 'shared/header' %>

<div class = "inbox-preview">
    <ul  class = "inbox-preview-items">
        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p>
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p>
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p> 
                <p class = "inbox-preview-date"> 15 August, 2015 </p>
            </div>       

        </li>

        <div class = "inbox-peview-divider">
            <hr>
        </div>

        <li>            
            <div class = "inbox-preview-profile-pic-container">
                <%= image_tag("generic_avatar.png", class: "inbox-preview-profile-pic") %>  
            </div>

            <div class = "inbox-preview-name-container">
                <p class = "inbox-preview-name"> <strong> Name</strong> </p>
                <p class = "inbox-preview-subject"> Subject </p>
                <p class = "inbox-preview-date"> 15 August, 2015 </p> 
            </div>       

        </li>

    </ul>
</div>


<div class = "container">
    <div class = "row">
        <div class = "col-xs-12" >

            <div class = "message-full-preview">

             <h1 class = "inbox-title"> Inbox </h1>

             <div class = "inbox-sender-info-container">

                <div class = "inbox-main-profile-pic-container">
                    <%= image_tag("generic_avatar.png", class: "inbox-main-profile-pic") %>  
                </div>

                <div class = "inbox-main-name-tagline-container">
                   <div class = "inbox-main-profile-name">
                    <p class = "inbox-main-artist-name"> <strong> Artist Name </strong> <p>
                    </div>

                    <div class = "inbox-main-profile-tagline">
                        <p class = "inbox-main-artist-tagline"> Tagline Tagline </p>
                    </div>
                </div>

            </div>

            <div class = "inbox-main-message-container">
                <div class = "inbox-main-message-subject">
                    <p> Hey there, wanted to check in! (Subject) </p>
                </div>

                <div>
                    <hr>
                </div>

                <div class = "inbox-main-message-body">
                    <p> sdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn ds sdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkj oewn ds sdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjoewn ds sdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkjnfknsdjknsdkf kjdsnfkjnsdjkfndskjfndskjnfsfidsisdnfikdsnfd f isdhfoqk;k2opkeoewn dssdfkjsdf,ndskf dnfkj</p>

                </div>

                <div class = "inbox-main-action-buttons pull-right">
            <button type="button" class="btn btn-success"> <i class="fa fa-reply" aria-hidden="true"></i>
               Reply </button>
               <button type="button" class="btn btn-danger"> <i class="fa fa-trash" aria-hidden="true"></i>
                Delete </button>
            </div>

            </div>

            





            </div>
        </div>

    </div>
</div> 
<div id="page">

    <div id="header">

    </div>
    <div id="content">
        <div id="abcd">

        </div>

    </div>

</div>