<p>  <a class='main-settings-edit' href='#main-settings-form-password'> Change Password</a> </p>
<%= form_tag change_password_settings_path(), method: :post, remote: true, class: 'form-group main-settings-form', id: 'main-settings-form-password' do %>
  <div class='errors'></div>
  <%= password_field_tag :current_password, nil, class: 'form-control main-settings-form-input input-sm password-main', placeholder: "Enter current password", required: true, pattern: '(?=.*\d)(.{6,})' %>
  <%= password_field_tag :new_password, nil, class: 'form-control main-settings-form-input input-sm password-main', placeholder: "Enter new password", required: true, pattern: '(?=.*\d)(.{6,})', id: 'new-password' %>
  <%= password_field_tag :confirm_password, nil, class: 'form-control main-settings-form-input input-sm', placeholder: "Retype new password", required: true, pattern: '(?=.*\d)(.{6,})', id: 'confirm-password' %>
  <div class='main-settings-form-buttons'>
    <button type='button' class='btn btn-danger btn-sm settings-edit-cancel'>Cancel</button>
    <%= submit_tag 'Save', class: 'btn btn-success btn-sm' %>
    <br>
    <br>
    <%= link_to 'Forget Password?', new_password_path %>
  </div>
<% end %>
