<p> <strong> Configure your social accounts </strong> </p>
<div class='main-settings-profile-social-accounts'>
  <div class='main-settings-social-individual'>
    <%= link_to connect_soundcloud_text, connect_soundcloud_link,
        class: 'btn btn-block btn-social btn-soundcloud' %>
    <% if current_user.soundcloud_network.present? %>
      <%= link_to disconnect_network_artists_path(network_name: 'soundcloud'), method: :delete, data: {confirm: 'Are you sure want to disconnect SoundCloud account?'} do %>
        <button type='button' class='btn btn-danger main-settings-social-disconect'>
          <i class='fa fa-times' aria-hidden='true'></i>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class='main-settings-social-individual'>
    <%= link_to connect_youtube_text, connect_youtube_link,
        class: 'btn btn-block btn-social btn-youtube' %>
    <% if current_user.youtube_network.present? %>
      <%= link_to disconnect_network_artists_path(network_name: 'youtube'), method: :delete, data: {confirm: 'Are you sure want to disconnect youtube account?'} do %>
        <button type='button' class='btn btn-danger main-settings-social-disconect'>
          <i class='fa fa-times' aria-hidden='true'></i>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class='main-settings-social-individual'>
    <%= link_to connect_instagram_text, connect_instagram_link,
        class: 'btn btn-block btn-social btn-instagram' %>
    <% if current_user.instagram_network.present? %>
      <%= link_to disconnect_network_artists_path(network_name: 'instagram'), method: :delete, data: {confirm: 'Are you sure want to disconnect instagram account?'} do %>
        <button type='button' class='btn btn-danger main-settings-social-disconect'>
          <i class='fa fa-times' aria-hidden='true'></i>
        </button>
      <% end %>
    <% end %>
  </div>
  <div class='main-settings-social-individual'>
    <%= link_to connect_facebook_text, connect_facebook_link,
        class: 'btn btn-block btn-social btn-facebook' %>
    <% if current_user.facebook_network.present? %>
      <%= link_to disconnect_network_artists_path(network_name: 'facebook'), method: :delete, data: {confirm: 'Are you sure want to disconnect facebook account?'} do %>
        <button type='button' class='btn btn-danger main-settings-social-disconect'>
          <i class='fa fa-times' aria-hidden='true'></i>
        </button>
      <% end %>
      <%= render partial: 'select_facebook_pages', locals: {fb_pages: current_user.facebook_network.all_pages} %>
    <% end %>
  </div>                  
</div>
