<div class = "container">
  <div class = "row">
<div class='col-xs-12 col-md-3 settings-navigation-bar'>
  <div class='settings-navigation-bar-contents'> 
 


    <div class='col-xs-4 col-md-10 settings-navigation settings-navigation-active' id='settings-navigation-profile'>
      <a class='settings-navigation-a settings-anchor-active' href= '#main-settings-profile' > <i class='fa fa-user' aria-hidden='true'></i>
        &nbsp;Profile
      </a>
    </div>


     <hr class = "search-navigation-hr hidden-xs hidden-sm"> 

    <div class='settings-navigation col-xs-4 col-md-10' id= 'settings-navigation-account'>
      <a class='settings-navigation-a' href= '#main-settings-account' >
        <i class='fa fa-unlock-alt' aria-hidden='true'></i>
        &nbsp;Account
      </a>
 
  </div>
     <hr class = "search-navigation-hr hidden-xs hidden-sm"> 

    <div class='col-xs-4 col-md-10 settings-navigation' id='settings-navigation-profile'>
      <%= link_to sign_out_path, method: :delete, class: 'settings-navigation-a' do %>
        <i class='fa fa-sign-out'></i>&nbsp;Logout
      <% end %>
    </div>


  </div>
</div>

    <div class='col-xs-12 col-md-9'>
      <div class='main-settings-container'>
        <div class='main-settings' id='main-settings-profile'>
          <div class='main-settings-header'>
            <h2> Profile Settings</h2>
            <hr>
          </div>
          <div class='main-settings-profile-content'>
            <div class='main-settings-profile-pic set_profile_pic'>
              <%= render partial: 'profile_pic' %>
            </div>
            <div class='main-settings-profile-name set_act_name'>
              <%= render partial: 'act_name' %>
            </div>  
            <div class='main-settings-profile-location set_user_location'>
              <%= render partial: 'user_location' %>
            </div>
            <hr>
            <div class='main-settings-profile-social set_social_accounts'>
              <%= render partial: 'connect_socials' %>
            </div>
          </div>
        </div>

        <div class='main-settings' id='main-settings-account'>
          <div class='main-settings-header'>
            <h2> General Account Settings</h2>
            <hr> 
          </div>
          <div class='main-settings-account-content'>
            <div class='main-settings-account-username'>
              <p>
                <strong> Username </strong>  : <span class='main-setting-account-current-uname'><%= current_user.username %></span>
              </p>
            </div>
            <div class='main-settings-account-email set_email'>
              <%= render partial: 'email' %>
            </div>
            <div class='main-settings-account-password set_change_password'>
              <%= render partial: 'change_password' %>
            </div>
          </div>
        </div>
      </div>
    </div>



</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87593959-1', 'auto');


ga('set', 'page', '/settings.html');
ga('send', 'pageview');

</script>
