<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h3> Send Connection Request </h3>
      <div class='connection-invite'>
        <p> How do you know <strong> <%= @invitee.act_name %> </strong> ? </p>
        <div class='panel panel-default'>           
          <div class='panel-body connection-invite-panel'>
            <%= form_for :invitation, url: invitations_path(), html: {method: :post} do |f| %>
            <%= hidden_field_tag :invitee, @invitee.username %>
            <div class='radio'>
              <label><%= f.radio_button :known_by, 'Friend', checked: true , class: 'invite-radio'%>Friend</label>
            </div>

            <div class='form-group invite-form' id='connection-invite-friend' style = "display: block;">
              <%= f.text_area :welcome_message, class: 'form-control invite-message invite-message-friend', required: true, rows: 4 do %> 
                I would like to add you to my creative network on Juketape. 
              <% end %>
              <span class= "invite-char-counter invite-friend-counter pull-right"> </span> 
            </div>

            <div class='radio'>
              <label><%= f.radio_button :known_by, 'Worked together' , class: 'invite-radio' %> Worked together </label>
            </div>

            <div class='form-group invite-form' id='connection-invite-work'>
              <%= f.text_area :welcome_message, class: 'form-control invite-message', disabled: true, required: true, rows: 4 %>
              <span class= "invite-char-counter pull-right">300</span> 
            </div>

            <div class='radio'>
              <label><%= f.radio_button :known_by, 'Studied together', class: 'invite-radio' %> Studied together</label>
            </div>

            <div class='form-group invite-form' id='connection-invite-study'>
              <%= f.text_area :welcome_message, class: 'form-control invite-message', disabled: true, required: true, rows: 4 %>
              <span class= "invite-char-counter pull-right">300</span> 
            </div>

            <div class='radio'>
              <label><%= f.radio_button :known_by, 'Other', class: 'invite-radio', id: 'connection-invite-other-radio' %> Other </label>
            </div>
            <div class='form-group invite-form' id='connection-invite-other'>
              <%= f.text_area :welcome_message, class: 'form-control invite-message', disabled: true, required: true, rows: 4 %>
              <span class= "invite-char-counter pull-right">300</span> 
            </div>
            <%= f.submit 'Submit', class: 'btn btn-success' %>
            <%= link_to artist_dashfolio_path(username: @invitee.username), style: 'color: #fff;' do %>
            <button type='button' class='btn btn-danger'> Cancel</button>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-87593959-1', 'auto');


ga('set', 'page', '/invite.html');
ga('send', 'pageview');

</script>
