<h3>Create new timeline event</h3>
<%= form_for :timeline_event, url: timeline_events_path, html: {class: 'dashfolio-timeline-form'}, remote: true do |f| %>
  <div class='errors'></div>
  <div class='form-group'>
    <label>Title</label>
    <%= f.text_field :title, placeholder: 'Enter the titile of your timeline experience',
      class: 'form-control timeline-title-form', required: true %>
  </div>
  <div class='form-group'>
    <label>Description</label>
    <%= f.text_field :description, placeholder: 'Enter the details of your timeline experience',
      class: 'form-control timeline-description-form', required: true %>
  </div>
  <div class='form-group'>
    <label>Location</label>
    <%= f.text_field :location, placeholder: 'Enter the location of your timeline experience',
      class: 'form-control timeline-location-form' %>
  </div>
  <div class='form-group'>
    <label>Start date</label>
    <%= f.text_field :start_date, placeholder: 'Start date', class: 'form-control datepicker_input', required: true %>
  </div>
  <div class='form-group'>
    <label>End date</label>
    <%= f.text_field :end_date, placeholder: 'End date', class: 'form-control datepicker_input', disabled: true, required: true %>
    <label><%= f.check_box :at_present, {id: 'event_end_date_checkbox', checked: true}, true, false %>  At Present</label>
  </div>
  <%= f.submit 'Create Event', class: 'btn btn-default signup-submit' %>
<% end %>
