<%= render partial: 'timeline_events/form' if artist == current_user %>
<% artist.ordered_timeline_events.each do  |event| %>
  <div class='event_container'>
    <% if artist == current_user %>
      <h3 class='timeline-title'><span class = "in-line-edit"><%= best_in_place event, :title, as: :input, ok_button: 'Save', cancel_button: 'Cancel', ok_button_class: 'btn btn-sm in-place-save btn-success',  cancel_button_class: 'btn btn-sm in-place-cancel btn-danger', inner_class: 'top-container-input-in-place' %></span>

        <%= link_to timeline_event_path(event), class: 'btn btn-danger btn-sm pull-right', method: :delete, remote: true, data: {confirm: 'Are you sure want to delete the timeline event ?'} do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>

        <% end %>




      </h3> 
      <p class='timeline-date'><span class='in-line-edit'><%= local_date(event.start_date) %> - <%= event.at_present? ? event.end_time : local_date(event.end_time) %></span></p>
      <div class='timeline-date-edit'>
        <%= form_for event, url: update_dates_timeline_event_path(event), html: {class: 'dashfolio-timeline-form-edit', id: "dashfolio-timeline-form-edit-#{event.id}", method: :put}, remote: true do |f| %>
          <div class='errors'></div>
          <div class='form-group form-inline'>
            <div class="input-group input-group-sm">
               <span class="input-group-addon"> <em class="glyphicon glyphicon-calendar"> </em> </span>
              <%= f.text_field :start_date, value: event.start_date, placeholder: 'Start date', class: 'form-control datepicker_input', required: true, id: "event_#{event.id}_start_date" %>
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon"> <em class="glyphicon glyphicon-calendar"> </em> </span>
              <%= f.text_field :end_date, value: event.end_date, placeholder: 'End date', class: 'form-control datepicker_input timeline-form-end-date', disabled: event.at_present?, required: true, id: "event_#{event.id}_end_date" %>
            </div>
            <label><%= f.check_box :at_present, {class: 'event_end_date_checkbox', checked: event.at_present?}, true, false %> Present</label>
          </div>
          <%= f.submit 'Update dates', class: 'btn btn-success btn-sm' %>
          <button type="button" class="btn btn-danger timeline-event-date-cancel btn-sm"> Cancel </button>
        <% end %>
      </div>
      <p class='timeline-description'><span class = "in-line-edit"><%= best_in_place event, :description, as: :textarea, ok_button: 'Save', cancel_button: 'Cancel', ok_button_class: 'btn btn-sm in-place-save btn-success',  cancel_button_class: 'btn btn-sm in-place-cancel btn-danger', inner_class: 'timeline-description-input-in-place' %></span></p>
      <p class='timeline-location'><strong><i class="fa fa-map-marker" aria-hidden="true"></i>
<span class = "in-line-edit"><%= best_in_place event, :location, as: :input, ok_button: 'Save', cancel_button: 'Cancel', place_holder: 'Add location', ok_button_class: 'btn btn-sm in-place-save btn-success',  cancel_button_class: 'btn btn-sm in-place-cancel btn-danger', inner_class: 'timeline-location-input-in-place' %></span></strong></p>
      
    <% else %>
      <h3 class='timeline-title'><%= event.title %></h3>
      <p class='timeline-date'><%= local_date(event.start_date) %> - <%= event.at_present? ? event.end_time : local_date(event.end_time) %></p>
      <p class='timeline-description'><%= event.description %></p>
      <p class='timeline-location'><strong><i class="fa fa-map-marker" aria-hidden="true"></i><%= event.location %></strong></p>
    <% end %>
  </div>
  <hr/>
<% end %>
