<div class='container onboarding'>
  <div class='row'>
    <div class = "col-lg 2 col-md-2"> </div>
    
    <div class='col-lg-10 col-md-10'>
      <h3> Profile Setup </h3>
      <div class = 'onboarding-family'>
        <p> <strong> Profile Picture </strong> </p>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <%= form_for current_user, url: social_accounts_setup_index_path(), html: { method: :post }, multipart: true do |f| %>
              <div class='form-group'>
                <%= image_tag(current_user.image.thumb.url || 'generic_avatar.png', class: 'profile-image-onboarding hidden-xs') %>
                <div class='form-group'>
                  <br>
                  <p> Upload a profile picture </p>
                  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
                  <%= f.hidden_field :image_cache %>
                </div>
              </div>
              <%= f.submit 'Next', class: 'onboarding-submit' %>
              <%= link_to 'skip', social_media_setup_index_path(), class: 'skip-onboarding' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
