<!DOCTYPE html>
<html>
<head>
  <title>Juketape</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class='<%= "#{controller_name} #{action_name} #{my_dashfolio_class}" %>'>

 <div class="content_body_<%= "#{controller_name}" %>_<%= "#{action_name}" %>">

  <%= render partial: 'shared/header' %>
  <%= render partial: 'shared/flash_messages' %>

  <%= yield %>



</div>

  <%= render partial: 'shared/footer' %>

</body>
</html>
