<!DOCTYPE html>
<html>
<head>
  <title>Juketape</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="google-site-verification" content="g7KpmNYNFxKKqxzciPXSBT-uWHK5L_vlDO3HUOy_bUE" />
  <meta name="google-site-verification" content="Up8gyNI7lGMHzdYfh1Ef2UN1OftuAonGZLr0m5B6Zc8" /> <!-- juketape domain verification for gmail domain -->
</head>

<body class='<%= "#{controller_name} #{action_name} #{my_dashfolio_class}" %>'>

 <div class="content_body_<%= "#{controller_name}" %>_<%= "#{action_name}" %> content_body">

  <%= render partial: 'shared/header' %>
  <%= render partial: 'shared/flash_messages' %>

  <%= yield %>



</div>

  <%= render partial: 'shared/footer' %>

</body>
</html>
